html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  text-align: center;
}

.text-center {
  text-align: center;
}

.header {
  background:;
  margin-left: 170px;
  margin-right: 170px;
  padding: 30px 170px;
}

.header__logo {
  max-width: 100px;
  margin: 0 30px 15px 0;
}

.menu {
  background-color: #a39e9b;
  margin-left: 170px;
  margin-right: 170px;
}

.menu__list {
  margin-left: 170px;
  margin-right: 170px;
  padding: 2px;
  display: flex;
  justify-content: center;
  list-style: none;
}



.menu__link {
  display: block;
  padding: 15px 30px;
  color: #e0e0e0;
  text-decoration: none;
  font-weight: bold;
}

.menu__link:hover, .menu__link:focus {
  background-color: black;
  color: white;
}

.main {
  margin: 30px 0;
  padding: 30px 170px;
  overflow: auto;
  flex: 1;
}

.image {
  width: 100%;
}



.image--right {
  max-width: 400px;
  float: right;
  margin: 0 0 15px 30px;
}

.footer {
  background-color: #e5e5e5;
  padding: 30px;
  text-align: center;
}
