html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

     /*  -----  RESPONZIVITA ----- */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  max-width: 580px;
  padding: 10px;
}

.main {
  padding: 10px 10px;
  overflow: auto;
  flex: 1;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
}

     /*  -----  HEADER ----- */

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
  margin: 10px 10px;
} 

.header__logo {
  max-width: 150px;
}

.menu__list {
  display: none;
  background-color: rgb(238, 184, 46);
  padding: 1.5px;
  justify-content: center;
  list-style: none; 
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
}

.menu__toggler {
  cursor: pointer;
}

.menu__link {
  display: block;
  padding: 10px 10px;
  color: #4b4646;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.menu__link:hover, .menu__link:active, .menu__link:focus {
  background-color: #FFDF00;
  color: #4b4646;
}

     /* -----  INDEX  ----- */

.image--right {
  max-width: 300px;
  margin: 10px 10px;
}

     /*  -----  FOTKY ----- */ 

.photos__image {
  max-width: 280px;
  max-height: 250px;
}

     /*  -----  ILUSTRACIE ----- */

.illustration__image {
  max-width: 250px;
  max-height: 250px;
}

     /*  -----  PISMO ----- */

.writing__item {
  max-width: 275px;
  max-height: 300px;
  padding: 10px 10px;
}

     /*  -----  KONTAKT ----- */ 

.check {
  position: absolute;
  left: -9999px;
}

.box {
  border: none;
  padding: 20px;
  background-color: rgb(248, 241, 225);
}

.box label {
  display: block;
}

.box .text {
  display: none;;
}

.check:checked ~ .text {
  display: block;
}

     /*  -----  FOOTER ----- */

.footer {
  background-color: #e5e5e5;
  padding: 10px;
  text-align: center;
}



@media screen and (min-width: 800px) {

  body {
    font-size: 20px;
    max-width: 1000px;
    margin: 20px 140px;
  }

 /*  .main {
    margin: 30px 0;
    padding: 30px 170px;
    max-width: none;
  } */

     /*  -----  HEADER ----- */

  .menu__toggler {
    display: none;
  }

  .menu__list {
    display: flex !important;
    background-color: transparent;
  }

  .menu__link {
    display: block;
    padding: 15px 20px;
    color: #4b4646;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    max-width: 300px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
  }


     /* -----  INDEX  ----- */

  .image--right {
    max-width: 400px;
    margin: 100px 20px;
  }

  .container {
    display: flex;
  }

  .section {
    flex: 0 0 50%;
  }

     /*  -----  FOTKY ----- */  

  .photos__grid {
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 40px) / 4));
    gap: 15px;
  }

  .photos__image {
    max-width: 200px;
    max-height: 200px;
  }

     /*  -----  ILUSTRACIE ----- */ 


  .illustration__image {
    max-width: 250px;
    max-height: 300px;
  }

  .illustrations__grid, .writing__grid {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 60px) / 3));
    gap: 20px;
  }

     /*  -----  KONTAKT ----- */ 



     /*  -----  FOOTER ----- */

  .footer {
    padding: 30px;
    max-width: 1100px;
    text-align: center;
  }

}