html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 580px;
  padding: 10px;
  font-weight: 500;
}
@media screen and (min-width: 800px) {
  body {
    font-size: 20px;
    max-width: 1000px;
    margin: 20px 140px;
  }
}

.main {
  padding: 10px 10px;
  overflow: auto;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
}
@media screen and (min-width: 800px) {
  h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 10px;
}
@media screen and (min-width: 800px) {
  .header {
    justify-content: space-between;
  }
}
.header__logo {
  max-width: 150px;
}
@media screen and (min-width: 800px) {
  .header__logo {
    max-width: 300px;
  }
}

.menu__list {
  display: none;
  background-color: #eeb82e;
  padding: 1.5px;
  justify-content: center;
  list-style: none;
}
@media screen and (min-width: 800px) {
  .menu__list {
    display: flex !important;
    background-color: transparent;
  }
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
}

.menu__toggler {
  cursor: pointer;
}
@media screen and (min-width: 800px) {
  .menu__toggler {
    display: none;
  }
}

.menu__link {
  display: block;
  padding: 10px 10px;
  color: #4b4646;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
@media screen and (min-width: 800px) {
  .menu__link {
    padding: 15px 20px;
    font-size: 20px;
  }
}

.menu__link:hover,
.menu__link:active,
.menu__link:focus {
  background-color: #ffdf00;
  color: #4b4646;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.footer {
  background-color: #e5e5e5;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .footer {
    display: flex;
    flex-direction: row;
    padding: 30px;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.social-icons {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.social-icon {
  color: #4b4646;
  text-decoration: none;
  margin: 0 10px;
  display: inline-block;
  cursor: pointer;
  background-color: #eeb82e;
  padding: 12px 16px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.social-icon:hover {
  color: white;
  background-color: #e6b028;
}

.copyright {
  padding-top: 10px;
}

.photos__image {
  max-width: 280px;
  max-height: 250px;
}
@media screen and (min-width: 800px) {
  .photos__image {
    max-width: 200px;
    max-height: 200px;
  }
}

@media screen and (min-width: 800px) {
  .photos__grid {
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 40px) / 4));
    gap: 15px;
  }
}
.illustration__image {
  max-width: 250px;
  max-height: 250px;
}
@media screen and (min-width: 800px) {
  .illustration__image {
    max-height: 300px;
  }
}

.writing__item {
  max-width: 275px;
  max-height: 300px;
  padding: 10px 10px;
}

@media screen and (min-width: 800px) {
  .illustrations__grid,
.writing__grid {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 60px) / 3));
    gap: 20px;
  }
}
.check {
  position: absolute;
  left: -9999px;
}

.box {
  border: none;
  padding: 20px;
  background-color: #f8f1e1;
}
.box label {
  display: block;
}
.box .text {
  display: none;
}

.check:checked ~ .text {
  display: block;
}

/* -----  INDEX  ----- */
.image--right {
  max-width: 300px;
  margin: 10px 10px;
}

.photo {
  display: block;
  padding: 10px;
  background-color: #e5e5e5;
}
@media screen and (min-width: 800px) {
  .photo {
    padding: 10px;
  }
}

.photo__image {
  max-width: 150px;
  max-height: 150px;
  display: block;
  padding: 10px;
}
@media screen and (min-width: 800px) {
  .photo__image {
    max-width: 240px;
    max-height: 240px;
    display: block;
  }
}

@media screen and (min-width: 800px) {
  .gallery {
    display: flex;
    justify-content: center;
  }

  .photo {
    flex: 0 0 250px;
  }
}
@media screen and (min-width: 800px) {
  /* -----  INDEX  ----- */
  .image--right {
    max-width: 400px;
    padding: 100px 0;
  }

  .container {
    display: flex;
  }

  .section {
    flex: 0 0 50%;
  }
}/*# sourceMappingURL=style.css.map */