@use 'colors';
@use 'fonts';


html {
    box-sizing: border-box;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: fonts.$font-base;
    font-size: 16px;
    line-height: 1.5;
    max-width: 580px;
    padding: 10px;
    font-weight: 500;
  
    @media screen and (min-width: 800px) {
      font-size: 20px;
      max-width: 1000px;
      margin: 20px 140px;
    }
  }
  
  .main {
    padding: 10px 10px;
    overflow: auto;
  }
  
  h1 {
    font-family: fonts.$font-special;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
  
    @media screen and (min-width: 800px) {
      font-size: 2em;
    }
  }
  
  h2 {
    font-family: fonts.$font-special;
    font-weight: 300;
    text-align: left;
    margin-bottom: 10px;
    font-size: 18px;
  
    @media screen and (min-width: 800px) {
      font-size: 1.5em;
      margin-bottom: 30px;
    }
  }
  