@use 'colors';
@use 'fonts';

.footer {
    background-color: colors.$c-footer;
    padding: 10px;
    text-align: center;
  
    @media screen and (min-width: 800px) {
      padding: 30px;
      max-width: 1100px;
    }
  }