@use 'colors';
@use 'basic';
@use 'fonts';
@use 'header';
@use 'footer';
@use 'photos';
@use 'illustrations';
@use 'contact';


/* -----  INDEX  ----- */

.image--right {
  max-width: 300px;
  margin: 10px 10px;
}

.photo {
  display: block;
  padding: 10px;
  background-color: colors.$c-footer;

  @media screen and (min-width: 800px) {
    padding: 10px;
  }
}

.photo__image {
  max-width: 150px;
  max-height: 150px;
  display: block;
  padding: 10px;

  @media screen and (min-width: 800px) {
    max-width: 240px;
    max-height: 240px;
    display: block;
  }
}

@media screen and (min-width: 800px) {
  .gallery {
    display: flex;
    justify-content: center;
  }

  .photo {
    flex: 0 0 250px;
  }
}

@media screen and (min-width: 800px) {
  /* -----  INDEX  ----- */

  .image--right {
    max-width: 400px;
    padding: 100px 0;
  }

  .container {
    display: flex;
  }

  .section {
    flex: 0 0 50%;
  }

}

